{% assign default_author = true %}
{% for tag in article.tags %}
  {% if tag contains 'author: ' %}
    {% assign default_author = false %}
    {% assign tag_author = tag | split: ':' | last | strip %}
  {% endif %}
{% endfor %}
<header {% render 'lazy-background-image', image: article.image, img_classes: 'hero article__hero' %}>
  <div class="article-hero__overlay"></div>
  <div class="article-hero__content">
    <h1 class="article__title">{{article.title}}</h1>
    <p class="article__excerpt">{{article.excerpt}}</p>
    {% if default_author %}
      <span class="article__author">By {{article.user.first_name}} {{article.user.last_name}}</span>
    {% else %}
      <span class="article__author">By {{tag_author}}</span>
    {% endif %}
  </div>
  <span class="article-hero__credentials">{{article.image.alt}}</span>
</header>