{% comment %}
  <div class="product__reviews">
  <h1 class="product-reviews__title">love letters & reviews</h1>
  <div id="stamped-main-widget" 
  data-widget-style="standard"
  data-product-id="{{ product.id }}" 
  data-name="{{ product.title | escape }}" 
  data-url="{{ shop.url }}{{ product.url }}" 
  data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
  data-description="{{ product.description | escape }}" 
  data-product-sku="{{product.handle}}"
  data-product-type="{{product.type}}"> 
    </div>
</div>
{% endcomment %}

<div data-fera-container="549949" data-product_id="{{ product.id }}"></div>

<style>
  .pagination.justify-content-center  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>   
