{% render 'recharg-widget' %}
<!-- Subscriptions Powered by ReCharge Payments: HTML -->
{% assign prod_handle = product.id %}
{% for collection in collections %}
  {% if collection.handle == 'drobdown' %}
    {% for product in collection.products %}
      {% for variant in product.variants %}
        {% assign all_variant = variant.id %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign product_title = product.title | remove: 'athletic energy gummies | '%}
{% assign backgroung_color = false %}
{% assign class_color = false %}
{% if product_title == 'elderberry raspberry' %}
  {% assign class_color = 'raspberry' %}
{% elsif product_title == 'matcha melon' %}
  {% assign class_color = 'melon' %}
{% endif %}



<div class="product__variant-wrapper blue {% if class_color != 'false' %} {{class_color}} {% endif %}">
  {% for product_option in product.options_with_values %}
    <select class="select-add" style="display: none;" data-single-option-selector data-index="option{{ forloop.index }}">
        {% for value in product_option.values %}
        <option {% if product_option.selected_value == value %}selected{% endif %}>
            {{ value }}
        </option>
        {% endfor %}
    </select>
  {% endfor %}
  {% if product.metafields.custom.product_flavor != false %}
  {% for collection in collections %}
    {% if collection.handle == 'dropdown-gummies' %}
      {% if collection.products != blank %}
        <select class="select classssss" onchange="location = this.value;" >
        {% for product in collection.products %}
        
            
            <option data-color="{{ product.title | remove: 'athletic energy gummies | ' }}" value="{{ product.url }}" {% if prod_handle == product.id %}selected{% endif %}>
              {{ product.title | remove: 'athletic energy gummies | ' }}
            </option>
        
        {% endfor %}
        </select>
      {% else %}
        <select name="" id="">
          <option value="">{{current_variant.title}}</option>
        </select>
      {% endif %}


    {% endif %}		
  {% endfor %}
    {% endif %}
</div>

{% if product.options_with_values.size > 1 %}
  <div class="choose__flavor choose__percan">Choose Your Quantity: 
    <span class="choose__percan--price" style="font-weight: 400;"></span>
  </div>
{% endif %}
  {% for product_option in product.options_with_values %}
    {% unless product_option.name == 'Flavor' %}

    <div class="radio-wrapper">
      {% for value in product_option.values %}
      <input 
        data-priceoption="{{ product.variants[forloop.index0].price | money_without_currency }}"
        class="sizeoption" 
        type="radio" 
        id="{{ product_option.name | handle }}-{{ value | handle }}" 
        name="option-{{ product_option.position }}" value="{{ value  }}" {% if forloop.first %}checked{% endif %}>
      <label for="{{ product_option.name | handle }}-{{ value | handle }}">{{ value }}</label>
      {% endfor %}
    </div>
  {% endunless %}
    {% endfor %}

    <div class="choose__flavor">Choose Your Frequency:</div>

  <style>
      .product__variant-wrapper.red{
    background-color: #bf5454 !important;
  }
  .product__variant-wrapper.blue{
    background-color: #4e84b5;
  }
  .product__variant-wrapper.raspberry{
    background-color: #6E5991;
  }
  .product__variant-wrapper.melon{
    background-color: #919482;
  }
  .product__variant-wrapper select {
    width: 100%;
      height: 50px;
      border: 2px solid black;
    background-size: 4%;
      border-bottom: 1px;
      color: #fff;
        font-weight: 900;
      background-image: url({{ "down-arrow-light.png" | asset_url }});
      text-transform: uppercase;
      padding-left: 39px;
  }

  @media(max-width: 768px) {
    .product__variant-wrapper select {
      font-size: 12px;
    }
  }
  .radio-wrapper {
    display: flex;
    margin-bottom: 10px;
    width: 100;
  }

  .radio-wrapper input[type="radio"] {
    display: none;
  }

  .radio-wrapper label {
    font-family: "Avenir", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 10px 5px;
    background-color: white;
    border: 2px solid black;
    border-right: none;
    cursor: pointer;
  }


  .radio-wrapper label:last-child{
    border: 2px solid black;
    cursor: pointer;
  }

  .radio-wrapper input[type="radio"]:checked + label {
    width: 100%;
    background-color: #e6af6e;
    color: black;
  }

  </style>

 <script>
  const radioSize = document.querySelectorAll('.sizeoption');
  const selectAdd = document.querySelector('.select-add')
    radioSize.forEach(opt => {
      opt.addEventListener('change', (e) => {
        selectAdd.value = e.target.value
        $(selectAdd).trigger('change')
      })
    })
  

window.addEventListener("DOMContentLoaded", (event) => {
  
  const oneSaleBlock = document.querySelector('.rc_block__type__onetime') 
  const subscribeSaleBlock = document.querySelector('.rc_block__type__autodeliver') 


  function pricePerCan() {
    const priceOnetime = document.querySelectorAll('.sizeoption');
    const pricePerCan = document.querySelector('.choose__percan--price')

    priceOnetime.forEach(price => {
      price.addEventListener('change', (e) => {		
      const priceVariant =  parseFloat(e.target.dataset.priceoption).toFixed(2)
      const qtVariant = e.target.value.replace("Bags", "").replace("Bag", "") 
      const priceCan = (priceVariant / qtVariant).toFixed(2)
      pricePerCan.innerHTML = `$ ${priceCan}/BAG`
      })
      })
  }

  function pricePerCanLoad() {
    const priceOnetime = document.querySelectorAll('.sizeoption');
    const pricePerCan = document.querySelector('.choose__percan--price');
    
    priceOnetime.forEach((price, item) => {
      if(price.checked ) {
      const priceVariant = parseFloat(price.dataset.priceoption).toFixed(2);
      const qtVariant = price.value.replace("Bags", "").replace("Bag", "");
      const priceCan = (priceVariant / qtVariant).toFixed(2);
      pricePerCan.innerHTML = `$ ${priceCan}/BAG`;
      }
    });
  }

  function pricePerCanSub() {
    const priceOnetime = document.querySelectorAll('.sizeoption');
    const pricePerCan = document.querySelector('.choose__percan--price');
    let subValueDiscount = Number({{ product.metafields.subscriptions.discount_percentage  }}) 
  
    priceOnetime.forEach(price => {
      price.addEventListener('change', (e) => {		
      const priceVariant =  parseFloat(e.target.dataset.priceoption).toFixed(2)
      const qtVariant = e.target.value.replace("Bags", "").replace("Bag", "")
      const priceCan = (priceVariant / qtVariant).toFixed(2) - ((priceVariant / qtVariant).toFixed(2)) * subValueDiscount / 100
      pricePerCan.innerHTML = `$ ${priceCan.toFixed(2)}/BAG`
      })
    })
  }

  function pricePerCanLoadSub() {
    const priceOnetime = document.querySelectorAll('.sizeoption');
    const pricePerCan = document.querySelector('.choose__percan--price');
    let subValueDiscount = Number({{ product.metafields.subscriptions.discount_percentage  }}) 
    
    priceOnetime.forEach((price, item) => {
      if(price.checked ) {
      const priceVariant = parseFloat(price.dataset.priceoption).toFixed(2);
      const qtVariant = price.value.replace("Bags", "").replace("Bag", "");
      const priceCan = (priceVariant / qtVariant).toFixed(2) - ((priceVariant / qtVariant).toFixed(2)) * subValueDiscount / 100
      pricePerCan.innerHTML = `$ ${priceCan.toFixed(2)}/BAG`;
      }
    });
  }


  subscribeSaleBlock.addEventListener('click', () => {
  if(subscribeSaleBlock.classList.contains('rc_block__type--active')) {
    pricePerCanSub()
    pricePerCanLoadSub()
  }
  })

  oneSaleBlock.addEventListener('click', () => {
  if(oneSaleBlock.classList.contains('rc_block__type--active')) {
    pricePerCanLoad()
    pricePerCan()
  }
  })


  pricePerCanLoad()
  pricePerCan()
  
});
  </script>
