<div class="account" data-section-type="account-dashboard">
  <div class="account__container">

    <div class="subscription__menu mobile_show">
      <a class="btn--simple btn--offgold" href="https://offfield.com/tools/recurring/portal/76fb255358e0885b/subscriptions?token=ade4503cad2c41c4b5d8c796161db020">MANAGE SUBSCRIPTION</a>
    </div>

    <div class="account__main">
      <div class="account__accordion" data-section-type="accordion">
        <div class="account__accordion-single">
            <button class="account__accordion-header" aria-expanded="false" aria-controls="account__orders" js-accordion-header>Recent Orders</button>
          <div id="account__orders" class="account__accordion-content" js-accordion-content>
            <h2 class="account__subheader">Recent Orders</h2>
            {% if customer.orders.size != 0 %}
              <div class="account__table-container">
                <table class="account__table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Order #</th>
                      <th>Status</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in customer.orders %}
                      {% assign order_index = forloop.index0 %}
                      <tr>
                        <td>{{ order.created_at | date: "%m/%d/%Y" }}</td>
                        <td><a href="{{order.customer_url}}" class="account__link">{{order.name}}</a></td>
                        <td>{{ order.fulfillment_status_label }}</td>
                        <td>{{ order.total_price | money }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <p>You have not placed any orders yet.</p>
            {% endif %}
          </div>
        </div>
        <div class="account__accordion-single">
            <button class="account__accordion-header" aria-expanded="true" aria-controls="account__overview" js-accordion-header>Account Overview</button>
          <div id="account__overview" class="account__accordion-content" js-accordion-content>
            <h2 class="account__subheader">Account Overview</h2>
            <p class="account__name">{{customer.name}}</p>
            {% if customer.default_address != empty %}
              <h3 class="account__section-header">Default Address</h3>
              {{customer.default_address | format_address}}
            {% endif %}
            <a href="/account/addresses" class="account__view-address">Edit Addresses</a>
          </div>
        </div>
      </div>


      <div id="rc_login">
        <h5>Having trouble with your subscription? <span style="display: block">Email <a href="mailto:sup@offfield.com" >sup@offfield.com</a></span></h5>
        <div class="subscription__menu desktop_show">
          <a class="btn--simple btn--offgold" href="https://offfield.com/tools/recurring/portal/76fb255358e0885b/subscriptions?token=ade4503cad2c41c4b5d8c796161db020">MANAGE SUBSCRIPTION</a>
        </div>
      </div>

      <div class="account__menu">
        <a href="/account/logout" class="btn--simple btn--offgold account__logout">Log out</a>
      </div>
    </div>
  </div>
</div>
