<div class="account" data-section-type="account-address">
  <div class="account__main">
    <div class="account__addresses">
      <div class="account-address__accordion" js-accordion-group>
        <div class="account-address__accordion-single">
          <button class="account__accordion-header" aria-expanded="true" aria-controls="account-address-list" js-accordion-header>Address List</button>
          <div id="account-address-list" class="account__accordion-content" js-accordion-content>
            <div class="account-address__listing">
              <h2 class="account__subheader">Address List</h2>
              {% if customer.addresses.size != 0  %}
                {% if customer.default_address != empty %}
                  <div class="account-address__default">
                    <h3 class="account__section-header account__section-header--default">
                      Default Address
                    </h3>
                    {{ customer.default_address | format_address }}
                    <div class="account-address__btn-container">
                      <button type="button" class="btn--simple btn--offgold account__edit" data-form-id="{{ customer.default_address.id }}" js-address-edit>
                        Edit
                      </button>
                      <button type="button" class="btn--simple btn--link account__delete" data-form-id="{{ customer.default_address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}" js-address-delete>
                        Delete
                      </button>
                    </div>
                  </div>
                {% endif %}
                {% if customer.addresses.size > 1 %}
                  <h3 class="account__section-header">Additional Addresses</h3>
                  <ul class="account-address__addresses">
                    {% for address in customer.addresses %}
                      {% unless address == customer.default_address %}
                        <li class="account-address__address">
                          {% if address == customer.default_address %}
                            <p class="account-address__default">
                              Default Address
                            </p>
                          {% endif %}
                          {{ address | format_address }}
                          <div class="account-address__btn-container">
                            <button type="button" class="btn--simple btn--offgold account__edit" data-form-id="{{ address.id }}" js-address-edit>
                              Edit
                            </button>
                            <button type="button" class="btn--simple btn--link account__delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}" js-address-delete>
                              Delete
                            </button>
                          </div>
                        </li>
                      {% endunless %}
                    {% endfor %}
                  </ul>
                {% endif %}
              {% else %}
                No addresses currently saved
              {% endif %}
            </div>
            <div class="account-address__edit" style="display: none;">
              <h3 class="account__subheader">Edit Address</h3>
              {% for address in customer.addresses %}
                {% form 'customer_address', address, style: 'display: none' %}

                <div class="account__adjacent-inputs">
                  <label for="AddressFirstName_{{ form.id }}">
                    {{ 'customer.addresses.first_name' | t }}
                  </label>
                  <input type="text"
                         name="address[first_name]"
                         id="AddressFirstName_{{ form.id }}"
                         value="{{ form.first_name }}"
                         autocapitalize="words"
                         placeholder="{{ 'customer.addresses.first_name' | t }}"
                         class="account__half-input">

                  <label for="AddressLastName_{{ form.id }}">
                    {{ 'customer.addresses.last_name' | t }}
                  </label>
                  <input type="text"
                         name="address[last_name]"
                         id="AddressLastName_{{ form.id }}"
                         value="{{ form.last_name }}"
                         autocapitalize="words"
                         placeholder="{{ 'customer.addresses.last_name' | t }}"
                         class="account__half-input">
                </div>


                <label for="AddressCompany_{{ form.id }}">
                  {{ 'customer.addresses.company' | t }}
                </label>
                <input type="text"
                       name="address[company]"
                       id="AddressCompany_{{ form.id }}"
                       value="{{ form.company }}"
                       autocapitalize="words"
                       placeholder="{{ 'customer.addresses.company' | t }}">

                <label for="AddressAddress1_{{ form.id }}">
                  {{ 'customer.addresses.address1' | t }}
                </label>
                <input type="text"
                       name="address[address1]"
                       id="AddressAddress1_{{ form.id }}"
                       value="{{ form.address1 }}"
                       autocapitalize="words"
                       placeholder="{{ 'customer.addresses.address1' | t }}">

                <label for="AddressAddress2_{{ form.id }}">
                  {{ 'customer.addresses.address2' | t }}
                </label>
                <input type="text"
                       name="address[address2]"
                       id="AddressAddress2_{{ form.id }}"
                       value="{{ form.address2 }}"
                       autocapitalize="words"
                       placeholder="{{ 'customer.addresses.address2' | t }}">

                <div class="account__adjacent-inputs">
                  <div class="account-address__country account__half-input">
                    <label for="AddressCountry_{{ form.id }}">
                      {{ 'customer.addresses.country' | t }}
                    </label>
                    <select
                      name="address[country]"
                      id="AddressCountry_{{ form.id }}"
                      class="address-country-option"
                      data-form-id="{{ form.id }}"
                      data-default="{{ form.country }}">
                      {{ country_option_tags }}
                    </select>
                  </div>

                  <div class="account-address__province" id="AddressProvinceContainer_{{ form.id }}" style="display: none">
                    <label for="AddressProvince_{{ form.id }}">
                      {{ 'customer.addresses.province' | t }}
                    </label>
                    <select
                      name="address[province]"
                      id="AddressProvince_{{ form.id }}"
                      data-default="{{ form.province }}">
                    </select>
                  </div>
                </div>

                <div class="account__adjacent-inputs">
                  <label for="AddressCity_{{ form.id }}">
                    {{ 'customer.addresses.city' | t }}
                  </label>
                  <input type="text"
                         name="address[city]"
                         id="AddressCity_{{ form.id }}"
                         value="{{ form.city }}"
                         autocapitalize="words"
                         placeholder="{{ 'customer.addresses.city' | t }}"
                         class="account__half-input">

                  <label for="AddressZip_{{ form.id }}">
                    {{ 'customer.addresses.zip' | t }}
                  </label>
                  <input type="text"
                         name="address[zip]"
                         id="AddressZip_{{ form.id }}"
                         value="{{ form.zip }}"
                         autocapitalize="characters"
                         placeholder="{{ 'customer.addresses.zip' | t }}"
                         class="account__half-input">
                </div>

                <div class="account__adjacent-inputs">
                  <div class="account-address__phone account__half-input">
                    <label for="AddressPhone_{{ form.id }}">
                      {{ 'customer.addresses.phone' | t }}
                    </label>
                    <input type="tel"
                           name="address[phone]"
                           id="AddressPhone_{{ form.id }}"
                           value="{{ form.phone }}"
                           pattern="[0-9\-]*"
                           placeholder="{{ 'customer.addresses.phone' | t }}"
                           class="account__half-input">
                  </div>
                  <div class="account__half-input">
                  </div>
                </div>

                <label id="account-address__checkbox" for="address_default_address_{{ form.id }}">
                  Set as default
                  {{ form.set_as_default_checkbox }}
                  <span class="checkmark"></span>
                </label>

                <input type="submit" class="btn--simple btn--offgold account__update" value="{{ 'customer.addresses.update' | t }}">
                <button type="button" class="account-address__cancel account__cancel" data-form-id="{{ form.id }}" js-address-edit>
                  {{ 'customer.addresses.cancel' | t }}
                </button>

                {% endform %}
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="account-address__accordion-single" class="account-address__new">
          <button class="account__accordion-header" aria-expanded="false" aria-controls="account-address-new" js-accordion-header>Add New Address</button>
          <div id="account-address-new" class="account__accordion-content" js-accordion-content>
            <h2 class="account__subheader">Create New Address</h2>
            {% form 'customer_address', customer.new_address %}
              <div class="account__adjacent-inputs">
                <label for="AddressFirstNameNew">
                  {{ 'customer.addresses.first_name' | t }}
                </label>
                <input type="text"
                       name="address[first_name]"
                       id="AddressFirstNameNew"
                       value="{{ form.first_name }}"
                       autocapitalize="words"
                       placeholder="{{ 'customer.addresses.first_name' | t }}"
                       class="account__half-input">

                <label for="AddressLastNameNew">
                  {{ 'customer.addresses.last_name' | t }}
                </label>
                <input type="text"
                       name="address[last_name]"
                       id="AddressLastNameNew"
                       value="{{ form.last_name }}"
                       autocapitalize="words"
                       placeholder="{{ 'customer.addresses.last_name' | t }}"
                       class="account__half-input">
              </div>

              <label for="AddressCompanyNew">
                {{ 'customer.addresses.company' | t }}
              </label>
              <input type="text"
                     name="address[company]"
                     id="AddressCompanyNew"
                     value="{{ form.company }}"
                     autocapitalize="words"
                     placeholder="{{ 'customer.addresses.company' | t }}">

              <label for="AddressAddress1New">
                {{ 'customer.addresses.address1' | t }}
              </label>
              <input type="text"
                     name="address[address1]"
                     id="AddressAddress1New"
                     value="{{ form.address1 }}"
                     autocapitalize="words"
                     placeholder="{{ 'customer.addresses.address1' | t }}">

              <label for="AddressAddress2New">
                {{ 'customer.addresses.address2' | t }}
              </label>
              <input type="text"
                     name="address[address2]"
                     id="AddressAddress2New"
                     value="{{ form.address2 }}"
                     autocapitalize="words"
                     placeholder="{{ 'customer.addresses.address2' | t }}">


              <div class="account__adjacent-inputs">
                <div class="account-address__country account__half-input">
                  <label for="AddressCountryNew">
                    {{ 'customer.addresses.country' | t }}
                  </label>
                  <select
                    name="address[country]"
                    id="AddressCountryNew"
                    data-default="{{ form.country }}">
                    {{ country_option_tags }}
                  </select>
                </div>

                <div class="account-address__province" id="AddressProvinceContainerNew" style="display: none">
                  <label for="AddressProvinceNew">
                    {{ 'customer.addresses.province' | t }}
                  </label>
                  <select
                    name="address[province]"
                    id="AddressProvinceNew"
                    data-default="{{ form.province }}">
                  </select>
                </div>
              </div>

              <div class="account__adjacent-inputs">
                <label for="AddressCityNew">
                  {{ 'customer.addresses.city' | t }}
                </label>
                <input type="text"
                       name="address[city]"
                       id="AddressCityNew"
                       value="{{ form.city }}"
                       autocapitalize="words"
                       placeholder="{{ 'customer.addresses.city' | t }}"
                       class="account__half-input">

                <label for="AddressZipNew">
                  {{ 'customer.addresses.zip' | t }}
                </label>
                <input type="text"
                       name="address[zip]"
                       id="AddressZipNew"
                       value="{{ form.zip }}"
                       autocapitalize="characters"
                       placeholder="{{ 'customer.addresses.zip' | t }}"
                       class="account__half-input">
              </div>

              <div class="account__adjacent-inputs">
                <div class="account-address__phone account__half-input">
                  <label for="AddressPhoneNew">
                    {{ 'customer.addresses.phone' | t }}
                  </label>
                  <input type="tel"
                         name="address[phone]"
                         id="AddressPhoneNew"
                         value="{{ form.phone }}"
                         pattern="[0-9\-]*"
                         placeholder="{{ 'customer.addresses.phone' | t }}"
                         class="account__half-input">
                </div>
                <div class="account__half-input">
                </div>
              </div>

              <label id="account-address__checkbox" for="address_default_address_new">
                Set as default
                {{ form.set_as_default_checkbox }}
                <span class="checkmark"></span>
              </label>

              <input type="submit" class="btn--simple btn--offgold account__create" value="Create New Address">
            {% endform %}
          </div>
        </div>
      </div>
      <div class="account__menu">
        <div class="account__menu-container">
          <a href="/account" class="account__return">Back</a>
        </div>
        <a href="/account/logout" class="btn--simple btn--offgold account__logout">Log out</a>
      </div>
    </div>
  </div>
</div>
