<div class="login">
  <div class="login__container">
    <section class="login__new">
      <h2 class="login__subheader">New Customers</h2>
      <p class="login__content">By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
      <a href="/account/register" class="btn--simple btn--offgold login-form__input--create">Create Account</a>
    </section>
    <section class="login__current">
      {% if customer.recover_password.success != blank %}
        <div class="login__reset-success" id="ResetSuccess" js-reset-success>
          {{ 'customer.recover_password.success' | t }}
        </div>
      {% endif %}
      <div class="login__login">
        <h2 class="login__subheader">Registered Customers</h2>
        {% form 'customer_login', class: 'login__form' %}
          {{ form.errors | default_errors }}
          <label for="CustomerEmail" class="label-hidden">
            {{ 'customer.login.email' | t }}
          </label>
          <input type="email"
                 name="customer[email]"
                 id="CustomerEmail"
                 class="login-form__input {% if form.errors contains 'email' %}input-error{% endif %}"
                 placeholder="{{ 'customer.login.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off"
                 autofocus>

            <label for="CustomerPassword" class="label-hidden">
              {{ 'customer.login.password' | t }}
            </label>
            <input type="password"
                   name="customer[password]"
                   id="CustomerPassword"
                   class="login-form__input {% if form.errors contains 'password' %}input-error{% endif %}"
                   placeholder="{{ 'customer.login.password' | t }}">

          <input type="submit" class="btn--simple btn--offgold login-form__input login-form__input--sign-in" value="{{ 'customer.login.sign_in' | t }}">
          <div class="login-form__recover-container">
            <a class="login-form__input--recover" href="#recover" js-show-recover>Forgot your password*</a>
          </div>
        {% endform %}
      </div>
      <div class="login__recover">
        <h2 class="login__subheader">Reset Password</h2>
        <p class="login__content">Please enter your email address below. You will receive a link to reset your password.</p>
        {% form 'recover_customer_password', class: 'login_form' %}
          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}<span class="reset-password-success"></span>{% endif %}

          <label for="RecoverEmail" class="label-hidden">
            {{ 'customer.recover_password.email' | t }}
          </label>
          <input type="email"
                 name="email"
                 id="RecoverEmail"
                 placeholder="{{ 'customer.recover_password.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off"
                 class="login-form__input">

          <input type="submit" class="btn--simple btn--offgold login-form__input--submit login-form__input" value="{{ 'customer.recover_password.submit' | t }}">
          
          <div class="login-form__cancel-container">
            <button class="login-form__input--cancel" type="button" js-hide-recover>
              {{ 'customer.recover_password.cancel' | t }}
            </button>
          </div>
        {% endform %}
      </div>
    </section>
  </div>
</div>