{% if section.settings.show %}
  <section class="blog-recommendations">
    <div class="blog-recommendations__image">
      {% render 'lazy-image', image: section.settings.image %}
    </div>
    <ul class="blog-recommendations__list">
      {% for block in section.blocks %}
        {% assign article = articles[block.settings.article] %}
        <li class="blog-recommendation__item">
          <a href="{{article.url}}" class="blog-recommendation__article">
            <div class="blog-recommendation__content">
              {% for tag in article.tags %}
                {% if tag contains 'display:' %}
                  <h2 class="blog-recommendation__tag blog-recommendation__tag--{{ tag | split: ':' | last | handle | strip }}">{{ tag | split: ':' | last | strip }}</h2>
                {% endif %}
                <h1 class="blog-recommendation__title">{{article.title}}</h1>
                <span class="blog-recommendation__author">By {{article.user.first_name}} {{article.user.last_name}}</span>
              {% endfor %}
            </div>
            <div class="blog-recommendation__icon">
              {% render 'icon-arrow-right' %}
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Recommendations",
    "settings": [
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show Recomendations Section"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "recommendation",
        "name": "Recommendation",
        "settings": [
          {
            "type": "article",
            "id": "article",
            "label": "Article"
          }
        ]
      }
    ]
  }
{% endschema %}