<section class="blog__carousel-container">
  <div class="blog-carousel" {% if section.blocks.size > 1 %}js-header-carousel{% endif %}>
    {% for block in section.blocks %}
      {% capture image_classes %}
       hero
      {% endcapture %}
      <a href="{{block.settings.url}}" class="blog-carousel__link">
        <section {% render 'lazy-background-image', img_classes: image_classes, image: block.settings.image %}>
          <div class="hero-alignment-container hero--{{block.settings.content_x}} hero--{{block.settings.content_y}}">
            <div class="hero__content hero__content--{{block.settings.text_alignment}}">
              <div class="hero-content__main">
                {{block.settings.text}}
              </div>
              {% if block.settings.sub != blank %}
                <div class="hero-content__sub">
                  {{block.settings.sub}}
                </div>
              {% endif %}
            </div>
          </div>
        </section>
      </a>
    {% endfor %}
  </div>
  {% if section.blocks.size > 1 %}
    <ul class="blog-carousel__dots">
      {% for block in section.blocks %}
        <li class="blog-carousel__dot {% if forloop.first %}selected{% endif %}">
          <button class="blog-carousel__trigger" data-index="{{forloop.index0}}" aria-label="Go to slide {{forloop.index}}" js-dot-trigger></button>
        </li>
      {% endfor %}
    </ul>
    <button class="blog-carousel__arrow blog-carousel__arrow-prev" aria-label="Previous" js-arrow-prev>{% render 'icon-arrow-left' %}</button>
    <button class="blog-carousel__arrow blog-carousel__arrow-next" aria-label="Next" js-arrow-next>{% render 'icon-arrow-right' %}</button>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Carousel",
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "select",
            "id": "content_x",
            "label": "Content X Positioning",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "content_y",
            "label": "Content Y Positioning",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "middle",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ],
            "default": "middle"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "textarea",
            "id": "sub",
            "label": "Subtext"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          }
        ]
      }
    ]
  }
{% endschema %}