<section class="homepage-email" style="background-color: {{section.settings.background_color}}; {% if section.settings.background_image != blank %}background-image: url('{{section.settings.background_image | img_url: 'master'}}'){% endif %}">
  <div class="homepage-email__container">
    <div class="homepage-email__content">
      <h1 class="homepage-email__title" style="color: {{section.settings.title_color}}">{{section.settings.title}}</h1>
      <p class="homepage-email__text" style="color: {{section.settings.text_color}}">{{section.settings.text}}</p>
    </div>
    <div class="homepage-email__image">
      {% render 'lazy-image', image: section.settings.figure_image %}
    </div>
    <div class="homepage-email__klaviyo">
      <div class="klaviyo-form-Rt78Nk"></div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Homepage - Email",
    "class": "homepage__section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#9c9f8c"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "figure_image",
        "label": "Figure Image"
      },
      {
        "type": "header",
        "content": "Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title Color"
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      }
    ],
    "presets": [
      {
        "name": "Email",
        "category": "Homepage"
      }
    ]
  }

{% endschema %}