<section class="homepage-product-carousel" style="background-color: {{section.settings.bg_color}};" data-section-type="homepage-product-carousel">
  <div class="homepage-product-carousel__container">
    <div class="homepage-product-carousel__carousel" js-product-carousel>
      {% for block in section.blocks %}
        <div class="homepage-product-carousel__slide">
          <div class="homepage-product-carousel__image">
            {% render 'lazy-image', image: block.settings.image %}
          </div>
          <div class="homepage-product-carousel__content">
            <h1 class="homepage-product-carousel__title" style="color: {{block.settings.title_color}};">{{block.settings.title}}</h1>
            {% if block.settings.subtitle != blank %}
              <h2 class="homepage-product-carousel__subtitle" style="color: {{block.settings.subtitle_color}};">{{block.settings.subtitle}}</h2>
            {% endif %}
            <p class="homepage-product-carousel__description" style="color: {{block.settings.description_color}};">{{block.settings.description}}</p>
            <span class="homepage-product-carousel__price" style="color: {{block.settings.price_color}};">{{block.settings.price}}</span>
            <a href="{{block.settings.url}}" class="btn {{block.settings.cta_style}} homepage-product-carousel__btn" data-text="{{block.settings.cta}}">{{block.settings.cta}}</a>
            {% if block.settings.disclaimer != blank %}
              <p class="homepage-product-carousel__disclaimer" style="color: {{block.settings.disclaimer_color}};">{{block.settings.disclaimer}}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <ul class="homepage-product-carousel__dots">
      {% for block in section.blocks %}
        <li class="homepage-product-carousel__dot {% if forloop.first %}selected{% endif %}">
          <button class="homepage-product-carousel__trigger" data-index="{{forloop.index0}}" aria-label="Go to slide {{forloop.index}}" js-homepage-product-trigger></button>
        </li>
      {% endfor %}
    </ul>
    <button class="homepage-product-carousel__arrow homepage-product-carousel__arrow-prev" aria-label="Previous" js-arrow-prev>{% render 'icon-arrow-left' %}</button>
    <button class="homepage-product-carousel__arrow homepage-product-carousel__arrow-next" aria-label="Next" js-arrow-next>{% render 'icon-arrow-right' %}</button>
  </div>
</section>

{% schema %}
  {
    "name": "Product Carousel",
    "class": "homepage__section",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Section Background Color",
        "default": "#4e84b5"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#e6af6e"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "color",
            "id": "subtitle_color",
            "label": "Subtitle Color",
            "default": "#ffffff"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "color",
            "id": "description_color",
            "label": "Description Color",
            "default": "#ffffff"
          },
          {
            "type": "text",
            "id": "price",
            "label": "Price"
          },
          {
            "type": "color",
            "id": "price_color",
            "label": "Price Color",
            "default": "#e6af6e"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          },
          {
            "type": "text",
            "id": "cta",
            "label": "CTA Text"
          },
          {
            "type": "select",
            "id": "cta_style",
            "label": "CTA Style",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "btn--reverse",
                "label": "Reverse"
              }
            ],
            "default": "default"
          },
          {
            "type": "textarea",
            "id": "disclaimer",
            "label": "Disclaimer"
          },
          {
            "type": "color",
            "id": "disclaimer_color",
            "label": "Disclaimer Color",
            "default": "#ffffff"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Carousel",
        "category": "Homepage"
      }
    ]
  }

{% endschema %}