{% if section.settings.checkbox == false %}
  <section class="hero">
    {% if section.settings.video != blank %}
      <video src="{{section.settings.video}}" class="hero__video" playsinline autoplay muted loop></video>
    {% else %}
      <div {% render 'lazy-background-image', img_classes: 'hero__background hero__background--mobile', image: section.settings.mobile_image %}></div>
      <div {% render 'lazy-background-image', img_classes: 'hero__background hero__background--desktop', image: section.settings.image %}></div>
    {% endif %}
    <div class="hero-alignment-container hero--{{section.settings.content_x}} hero--{{section.settings.content_y}}">
      <div class="hero__content hero__content--{{section.settings.text_alignment}}">
        <div class="hero-content__main">
          {{section.settings.text}}
        </div>
        {% if section.settings.include_stars %}
          <div class="hero-content__sub">
            <div class="hero-content__stars">
              {% render 'icon-star' %}{% render 'icon-star' %}{% render 'icon-star' %}{% render 'icon-star' %}{% render 'icon-star' %}
            </div>
            <div class="hero-content__star-text">{{section.settings.star_text}}</div>
          </div>
        {% endif %}
        {% if section.settings.url != blank %}
          <div class="hero__btn-container">
            <a href="{{section.settings.url}}" class="btn" data-text="{{section.settings.cta}}">{{section.settings.cta}}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
{% schema %}
  {
    "name": "Hero Page",
    "class": "homepage__section",
    "settings": [
      {
        "type": "checkbox",
        "id": "checkbox",
        "label": "Check if you want hide section"
      },
      {
        "type": "text",
        "id": "video",
        "label": "Video .mp4 URL"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Background Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "select",
        "id": "content_x",
        "label": "Content X Positioning",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "content_y",
        "label": "Content Y Positioning",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "middle",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "middle"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Stars"
      },
      {
        "type": "checkbox",
        "id": "include_stars",
        "label": "Include stars"
      },
      {
        "type": "text",
        "id": "star_text",
        "label": "Star Text"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "CTA"
      },
      {
        "type": "url",
        "id": "url",
        "label": "CTA Target"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "CTA Text"
      }
    ]
  }

{% endschema %}
