<h1>Text</h1>
<h2>{{ section.settings.liquid-ref }}</h2>

<h1>Checkbox</h1>
{% if section.settings.liquid-checkbox == true %}
  Checbox is checked
{% else %}
  Checkbox is not checked
{% endif %}


<h1>Number</h1>
{% if section.settings.liquid-number > 0 %}
  {{ section.settings.liquid-number }}
{% endif %}


<h1>Radio</h1>
{% if section.settings.liquid-radio == 'left-value' %}
  LEFT VALUE Selected
{% else %}
  CENETERED VALUE Selected
{% endif %}


<h1>Range</h1>
{{ section.settings.font_size }}

<h1>Select</h1>
{{ section.settings.liquid-select }}
{{ section.settings.liquid-select-size }}

<h1>Text Area</h1>
{{ section.settings.liquid-text-area }}

<h3>Object</h3>
{{ page.title }}

<h3>Tag</h3>
{% if page.title == 'Title of test-liquid' %}
  Yes, the title of template is "Title of test-liquid"
{% endif %}

<h3>Filter</h3>
{{ 'hello world' | capitalize }}

<h3>Unless satement</h3>
{% unless page.title != 'Title of test-liquid' %}
  The page title is still "Title of test-liquid"
{% endunless %}

<h3>else / if</h3>
{% if page.title != 'Title of test-liquid' %}
  The page title is not 'Title of test-liquid'.
{% else %}
  The page title is: "Title of test-liquid"
{% endif %}

{% schema %}
  {
    "name": "Liquid reference",
    "settings": [
      {
        "type": "text",
        "id": "liquid-ref",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "liquid-checkbox",
        "label": "Checkbox"
      },
      {
        "type": "number",
        "id": "liquid-number",
        "label": "Number"
      },
      {
        "type": "radio",
        "id": "liquid-radio",
        "label": "Radio button",
        "options": [
          {
            "value": "left-value",
            "label": "Left"
          }, {
            "value": "centered-value",
            "label": "Cenetered"
          }
        ]
      }, {
        "type": "range",
        "id": "font_size",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      }, {
        "type": "select",
        "id": "liquid-select",
        "label": "Vertical alignment",
        "options": [
          {
            "value": "top",
            "label": "Top"
          }, {
            "value": "middle",
            "label": "Middle"
          }, {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "middle"
      }, {
        "type": "select",
        "id": "liquid-select-size",
        "label": "Sizes",
        "options": [
          {
            "value": "xs",
            "label": "X-small"
          },
          {
            "value": "s",
            "label": "Small"
          },
          {
            "value": "m",
            "label": "Medium"
          },
          {
            "value": "l",
            "label": "Large"
          }, {
            "value": "xl",
            "label": "X-large"
          }, {
            "value": "xxl",
            "label": "XX-large"
          }
        ],
        "default": "m"
      }, {
        "type": "textarea",
        "id": "liquid-text-area",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      }


    ],
    "presets": [
      {
        "name": "Liquid reference",
        "category": "Reference"
      }
    ]
  }
{% endschema %}