<section {% render 'lazy-background-image', img_classes: 'page-about__hero', image: section.settings.hero_bg_image %}>
  <div class="page-about-hero__content">
    <div class="page-about-hero__image">
      {% render 'lazy-image', image: section.settings.hero_image, alt: section.settings.hero_alt %}
    </div>
    <div class="page-about-hero__text">{{section.settings.hero_text}}</div>
  </div>
</section>
<section class="page-about__split" style="background-color: {{section.settings.split_bg_color}};">
  <div class="page-about__split-container">
    <div class="page-about-split__content" style="color: {{section.settings.split_color}};">
      <h1 class="page-about-split__title">{{section.settings.split_title}}</h1>
      <p class="page-about-split__text">{{section.settings.split_text}}</p>
    </div>
    <div class="page-about-split__image">
      {% render 'lazy-image', image: section.settings.split_image, alt: section.settings.split_alt %}
    </div>
  </div>
</section>
<section class="page-about__accordion" js-accordion-group>
  {% for block in section.blocks %}
    <div class="page-about-accordion__single" style="background-color:{{block.settings.background_color}}">
      <button class="page-about-accordion__trigger" aria-expanded="false" aria-controls="" js-accordion-header>
        <div class="page-about-accordion-trigger__text">
          <h3 class="page-about-accordion__kicker">{{block.settings.kicker}}</h3>
          <h2 class="page-about-accordion__title">{{block.settings.title}}</h2>
        </div>
        <div class="page-about-accordion__image">
          {% render 'lazy-image', image: block.settings.image, alt: block.settings.alt %}
        </div>
      </button>
      <div id="" class="page-about-accordion__content"  aria-hidden="true" js-accordion-content>
        <p class="page-about-accordion__interior">{{block.settings.text}}</p>
      </div>
    </div>
  {% endfor %}
</section>
<section class="page-about__split" style="background-color: {{section.settings.blm_bg_color}};">
  <div class="page-about__split-container page-about__split-container--reverse">
    <div class="page-about-split__content" style="color: {{section.settings.blm_color}};">
      <p class="page-about-split__text">{{section.settings.blm_text}}</p>
    </div>
    <div class="page-about-split__image">
      {% render 'lazy-image', image: section.settings.blm_image, alt: section.settings.blm_alt %}
    </div>
  </div>
</section>
<section class="page-about__accordion" js-accordion-group>
  <div class="page-about-accordion__single" style="background-color:{{section.settings.movement_background_color}}">
    <button class="page-about-accordion__trigger" aria-expanded="false" aria-controls="" js-accordion-header>
      <div class="page-about-accordion-trigger__text">
        <h2 class="page-about-accordion__title">{{section.settings.movement_title}}</h2>
      </div>
    </button>
    <div id="" class="page-about-accordion__content"  aria-hidden="true" js-accordion-content>
      <p class="page-about-accordion__interior">{{section.settings.movement_text}}</p>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "About",
    "class": "page--about",
    "settings": [
      {
        "type": "header",
        "content": "Hero"
      },
      {
        "type": "image_picker",
        "id": "hero_bg_image",
        "label": "Hero Background Image"
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
      },
      {
        "type": "text",
        "id": "hero_alt",
        "label": "Hero Alt"
      },
      {
        "type": "textarea",
        "id": "hero_text",
        "label": "Hero Text"
      },
      {
        "type": "header",
        "content": "Split"
      },
      {
        "type": "color",
        "id": "split_bg_color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "split_color",
        "label": "Text Color",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "split_title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "split_text",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "split_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "split_alt",
        "label": "Image Alt"
      },
      {
        "type": "header",
        "content": "BLM"
      },
      {
        "type": "color",
        "id": "blm_bg_color",
        "label": "Background Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "blm_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "textarea",
        "id": "blm_text",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "blm_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "blm_alt",
        "label": "Image Alt"
      },
      {
        "type": "header",
        "content": "Join the Movement"
      },
      {
        "type": "color",
        "id": "movement_background_color",
        "label": "Background Color",
        "default": "#4e84b5"
      },
      {
        "type": "text",
        "id": "movement_title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "movement_text",
        "label": "Interior Text"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#4e84b5"
          },
          {
            "type": "text",
            "id": "kicker",
            "label": "Kicker"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "alt",
            "label": "Image Alt Text"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Interior Text"
          }
        ]
      }
    ]
  }
{% endschema %}