<section class="product__details" data-section-type="product-details" js-details-container>
  <div {% render 'lazy-background-image', image: section.settings.background_image, img_classes: 'product-details__background', attrs: 'js-details-background' %}></div>
  <div class="product-details__content">
    <div class="product-details__anchors">
      {% for block in section.blocks %}
        <a href="#{{block.settings.title | handle}}" id="{{block.settings.tab_title | handle}}-trigger" class="product-details__anchor" title="{{block.settings.tab_title}} trigger" aria-label="{{block.settings.tab_title}} trigger" js-details-anchor>{{block.settings.icon}} {{block.settings.tab_title}}</a>
      {% endfor %}
    </div>
    <div class="product-details__container">
      {% for block in section.blocks %}
        <article id="{{block.settings.title | handle}}" class="product-details__card" js-details-card>
          <div class="product-details__card-container">
            <div class="product-details-card__content product-details-card__padding">
              <h1 class="product-details-card__title fc--{{block.settings.color_code}}">
                <div class="product-details-card-title__icon">
                  {% render 'lazy-image', image: block.settings.mobile_icon %}
                </div>
                <span class="product-details-card-title__heading">{{block.settings.title}}</span>
              </h1>
              <p class="product-details-card__text">
                {{block.settings.content}}
              </p>
              <div class="attributes">
                <div class="attributes-box">
                  {%if block.settings.atr_title1 != blank%}
                  <div class="sticker sticker-margin">
                    <p class="sticker__title">{{block.settings.atr_title1}}</p>
                    <img class="sticker__icon" src="{{'done.svg' | file_url }}" alt="done">
                  </div>
                  {%endif%} 
                  {%if block.settings.atr_title2 != blank%}
                  <div class="sticker">
                    <p class="sticker__title">{{block.settings.atr_title2}}</p>
                    <img class="sticker__icon" src="{{'done.svg' | file_url }}" alt="done">
                  </div>
                  {%endif%}
                  {%if block.settings.atr_title3 != blank%}
                  <div class="sticker sticker__margin sticker__margin--mobile">
                    <p class="sticker__title">{{block.settings.atr_title3}}</p>
                    <img class="sticker__icon" src="{{'done.svg' | file_url }}" alt="done">
                  </div>
                  {%endif%}
                  {%if block.settings.atr_title4 != blank%}
                  <div class="sticker sticker-margin">
                    <p class="sticker__title">{{block.settings.atr_title4}}</p>
                    <img class="sticker__icon" src="{{'done.svg' | file_url }}" alt="done">
                  </div>
                  {%endif%}
                  {%if block.settings.atr_title5 != blank%}
                  <div class="sticker">
                    <p class="sticker__title">{{block.settings.atr_title5}}</p>
                    <img class="sticker__icon" src="{{'done.svg' | file_url }}" alt="done">
                  </div>
                  {%endif%}
                  {%if block.settings.atr_title6 != blank%}
                  <div class="sticker sticker__margin--mobile">
                    <p class="sticker__title">{{block.settings.atr_title6}}</p>
                    <img class="sticker__icon" src="{{'done.svg' | file_url }}" alt="done">
                  </div>
                  {%endif%}
                  {%if block.settings.atr_title7 != blank%}
                  <div class="sticker sticker-margin">
                    <p class="sticker__title">{{block.settings.atr_title7}}</p>
                    <img class="sticker__icon" src="{{'done.svg' | file_url }}" alt="done">
                  </div>
                  {%endif%}
                  {%if block.settings.atr_title8 != blank%}
                  <div class="sticker">
                    <p class="sticker__title">{{block.settings.atr_title8}}</p>
                    <img class="sticker__icon" src="{{'done.svg' | file_url }}" alt="done">
                  </div>
                  {%endif%}   
                </div>
              </div>
            </div>
            <div class="product-details-card__image">
              {% render 'lazy-image', image: block.settings.character %}
            </div>
          </div>
        </article>
      {% endfor %}
   
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product Details",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "Tab",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },

          {
            "type": "text",
            "id": "tab_title",
            "label": "Tab title"
          },

          {
            "type": "text",
            "id": "atr_title1",
            "label": "Product attributes1"
          },
          {
            "type": "text",
            "id": "atr_title2",
            "label": "Product attributes2"
          },
          {
            "type": "text",
            "id": "atr_title3",
            "label": "Product attributes3"
          },
          {
            "type": "text",
            "id": "atr_title4",
            "label": "Product attributes4"
          },
          {
            "type": "text",
            "id": "atr_title5",
            "label": "Product attributes5"
          },
          {
            "type": "text",
            "id": "atr_title6",
            "label": "Product attributes6"
          },
          {
            "type": "text",
            "id": "atr_title7", 
            "label": "Product attributes7"
          },
          {
            "type": "text",
            "id": "atr_title8",
            "label": "Product attributes8"
          },
          {
            "type": "textarea",
            "id": "icon",
            "label": "Icon",
            "info": "svg code, must be stripped of color and sizing"
          },
          {
            "type": "image_picker",
            "id": "mobile_icon",
            "label": "Mobile Title Icon",
            "info": "use colored png to match following color code"
          },
          {
            "type": "select",
            "id": "color_code",
            "label": "Color Code",
            "options": [
              {
                "value": "red",
                "label": "Red"
              },
              {
                "value": "blue",
                "label": "Blue"
              },
              {
                "value": "green",
                "label": "Green"
              },
              {
                "value": "offgold",
                "label": "Gold"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "black",
                "label": "Black"
              }
            ],
            "default": "red",
            "info": "This can only change title color, if the background color needs to be a different, developer needs to change."
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "character",
            "label": "Character Image"
          }
        ]
      },

      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }
    ]
  }
{% endschema %}
