<section {% render 'lazy-background-image', image: images['product-tabs-background.jpg'], img_classes: 'product__tabs-container' %}>
  <div class="product__tabs" id="product__tab">
    <div class="product-tabs__wrapper">
      <div class="product-tabs__container" js-tab-group data-tab-type="fade">
        <nav class="product-tabs__tablist" role="tablist" aria-label="Product Content Tabs">
          {% for block in section.blocks %}
            <button class="btn product-tabs__trigger" role="tab" aria-controls="{{block.settings.title | handle}}-tab" data-text="{{block.settings.title}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" js-tab-trigger>{{block.settings.title}}</button>
          {% endfor %}
        </nav>
        <div class="product-tabs__tabs">
          {% for block in section.blocks %}
            <div id="{{block.settings.title | handle}}-tab" class="product-tabs__tab" aria-hidden="{% if forloop.first %}false{% else %}true{% endif %}" js-tab-content>
              <div class="product-tabs-tab__content">
                {% if block.settings.video != blank %}
                  <div class="product-tabs-tab__media" js-video-container>
                    <div class="product-tabs-tab__video-container">
                      <video class="product-tabs-tab__video" src="{{block.settings.video}}" js-video></video>
                      <button class="product-tabs-tab__video-overlay" js-video-overlay>
                        {% render 'icon-play' %}
                      </button>
                    </div>
                  </div>
                {% else %}
                  <div class="product-tabs-tab__media">
                    <div class="product-tabs-tab__image-container">
                      {% render 'lazy-image', image: block.settings.image %}
                    </div>
                  </div>
                {% endif %}
                <div class="product-tabs-tab__text">
                  {{block.settings.content}}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="product-tabs__button-container">
        <a href="{{section.settings.cta_url}}" class="btn product-tabs__back-to-top" data-text="{{section.settings.cta_text}}">{{section.settings.cta_text}}</a>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Product Tabs",
    "settings": [ 
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      }
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "Tab",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "video",
            "label": "Video URL",
            "info": "overrides image"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}