{% paginate collection.products by 48 %}
<section class="collection">
  <nav class="collection__navigation">
    {% for link in linklists['collection-navigation'].links %}
      <a href="{{link.url}}" class="collection-navigation__link">
        <div class="collection-navigation__icon-background"></div>
        {% assign image_handle = 'collection-icon-' | append: link.handle | append: '.jpg' %}
        <div class="collection-navigation__icon-container">
          <img src="{{image_handle | file_img_url: '120x'}}" alt="{{link.handle}}" class="collection-navigation__icon">
        </div>
        <span class="collection-navigation__text">{{link.title}}</span>
      </a>
    {% endfor %}
  </nav>
  {% section 'collection-promo' %}
  <section class="collection__products">
    {% for product in collection.products %}
      <a href="{{product.url}}" class="product-card">
        <div class="product-card__image">
          {% render 'lazy-image', image: product.featured_image %}
          {% unless product.available %}
            <div class="product-card__tag">sold out</div>
          {% elsif product.tags contains 'limited edition' %}
            <div class="product-card__tag">limited edition</div>
          {% elsif product.tags contains 'waitlist' %}
            <div class="product-card__tag">waitlist</div>
          {% elsif product.tags contains 'new item' %}
            <div class="product-card__tag">new item</div>
            {% elsif product.tags contains 'best seller' %}
            <div class="product-card__tag">best seller</div>
            {% elsif product.tags contains 'only 1 left' %}
            <div class="product-card__tag">only 1 left</div>
            {% elsif product.tags contains 'new flavor' %}
            <div class="product-card__tag">new flavor</div>
          {% elsif product.tags contains 'offfield labs' %}
            <div class="product-card__tag">offfield labs</div>
          {% endunless %}
        </div>
        <div class="product-card__information">
          <h1 class="product-card__title">
            {{product.title | split: '|' | first | strip }}
          </h1>
          {% if product.title contains '|' %}
            <h2 class="product-card__subtitle">
              {{product.title | split: '|' | last | strip }}
            </h2>
          {% endif %}
        </div>
        <div class="product-card__price">
          {{product.price | money }}
        </div>
      </a>
    {% endfor %}
  </section>
</section>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
